<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zenlauncher.sample">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MindfulLauncherTheme">
        
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/MindfulLauncherTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".DeepFocusActivity"
            android:exported="false"
            android:theme="@style/MindfulLauncherTheme.DeepFocus" />

        <activity
            android:name=".RankingActivity"
            android:exported="false"
            android:theme="@style/MindfulLauncherTheme" />

        <activity
            android:name=".StandbyActivity"
            android:exported="false"
            android:theme="@style/MindfulLauncherTheme.Standby" />

    </application>

</manifest>

